<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springbootdemo.db.dao.SysAdminTitleInfoDao">

    <!--============================管理页面抬头信息============================-->
    <select id="searchTitleInfo" resultType="java.util.HashMap">
        select title_name, small_name,small_link, link, icon, small_icon, `desc`
        from sys_admin_col
        where status = 1
        LIMIT 1
    </select>
</mapper>
